 * {
margin:0;
padding:0;
box-sizing:border-box;
}

body {
  background-color: blueviolet;
    font-family: sans-serif;
}

 header nav ul{
    display: flex;
    justify-content: space-between;
    margin-left: 800px;
    list-style-type: none;
    background-color: blueviolet;
    flex-direction: row;
    
}

img {
    position:relative;
    height: 46%;
    width: 100%;
    margin-bottom: 30px;
    
}
.section h1{
    color: yellow;
    background-color: blueviolet;
}
