 * {
margin:0;
padding:0;
box-sizing:border-box;
}

body {
  background-color:bisque;
    font-family: sans-serif;
}

 header nav ul{
    display: flex;
    justify-content: space-between;
    margin-left: 800px;
    list-style-type: none;
    background-color:aqua;
    flex-direction: row;
    
}

#aboutme {
    margin: 50px;
    
}

#mywork {
    margin: 50px;
   padding-top: 80px;
 

}

.hero {
        width: 100%;
        height: 200px;
        background-image:url(imagemain2.jpg);
        background-size:cover;
         background-position: center;
      background-repeat: no-repeat;
        position:relative;
    }

.mypicture {
    width: 150px;
    height: 100%;
   border-radius: 80px;
}

.section h1{
    color: yellow;
    background-color: blueviolet;
}
#second-project {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: flex-end;
}

.first {
    width: 30%;
    height: 400px;
    width: fit-content;
    padding-right: 10px;
    position:inherit;
    width: 57em;

   

}

.project {
    width: 40%;
    margin: 6px;
}




#main-project {
    display: flex;
    justify-content: flex-end;

}
 .textone {
background-color:blue;
color: white;
position: absolute;
padding-right: 30px;
top: 800px;
left: 22%;
 }

 .texttwo {
     background-color:blue;
     color: white;
    position: absolute;
    margin-top: 10%;
    right: 68%;
 }
 .textthree {
    background-color:blue;
    color: white;
    position: absolute;
    margin-top: 10%;
left: 59%;
 }
#Contact h1 {
    color: rgb(60, 38, 146);
    background-color: aqua;
}

@media screen and (max-width: 768px) {}
